body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.seperator {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 5px;
}

.seperator::before,
.seperator::after {
  content: "";
  flex: 1;
  border-bottom: 0.5px solid #757575;
}

.seperator:not(:empty)::before {
  margin-right: 0.5em;
}

.seperator:not(:empty)::after {
  margin-left: 0.5em;
}
